{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block navbar %}
<div class="container contcustom">
    <div class="row rowcustom">

        <a href="{{ path('insurance_app_homepage') }}">
        <div class="col-xs-1 divnav"><p>Profil</p><span class="fa fa-user fa-3x "></span></div></a>

        <div class="col-xs-1 divnav"><p>Add Plan</p><span class="fa fa-plus fa-3x"></span></div>

        <div class="col-xs-1 divnav"><p>Claims</p><span class="fa fa-file-text-o fa-3x"></span></div>

        <a href="{{ path('insurance_app_chat') }}">
        <div class="col-xs-1 divnav"><p>Chat</p><span class="fa fa-comments-o fa-3x"></span></div></a>

        <a href="{{ path('insurance_app_SOS') }}">
        <div class="col-xs-1 divnav"><p>SOS</p><span class="fa fa-ambulance fa-3x"></span></div></a>
    </div>
</div>
{% endblock %}


