.headchat{
    z-index: 5000;
}
.tichat{
    font-size: 2em;
    color:white;
    margin:0;
    padding:0;
    padding-left:75px;
    height:59px;

}

.contchat{
    margin:0;
    padding:0;
    width: 100%;
}

.rowchat{
    margin:0;
    padding:0;
    width: 100%;
}

.chat{
    margin:0;
    padding:0;
    width: 100%;
}
.chat img{
    width:100%;
    height: auto;

}