/* darkgrey : #313130*/

body {
    margin:0;
    padding:0;
    margin-top: 60px;
    /*background-color:#c3c3c4;*/
}

@font-face {
    font-family: "MyriadProRegular";
    url("../font/MyriadProRegular.ttf") format("truetype") /* Firefox, Safari, iOS, Mobile */
}
*{
    font-family: "MyriadProRegular";
}