/*body{*/
    /*background-color:#3579bb ;*/
/*}*/

.homeloginpage {
    width: 100%;
    margin:0;
    margin-top:-80px;
    padding:0;
    text-align: center;
    background-color: white;
    height:680px;
    font-family: "Myriad Pro Regular";
}

.logoApp {
    margin: 0;
    margin-bottom: 100px;
    padding:0;
    height:100px;
    margin-top:80px;
    border-radius: 10px;
}
.img{
    padding:0;
}

.inputco{
    height:45px;
    margin-bottom: 10px;
    padding:0;
    width:100%;
}

#username, #password  {

    margin:0;
    padding:0;
    height:40px;
    border-radius: 10px;
    color: #3579bb;
    border: 2px solid #3579bb;
    font-family: "Myriad Pro Regular";
    font-size: 1em;
    width:80%;
}

.btnsubmit > button {

    margin:0;
    padding: 0;
    height:60px;
    width: 80%;
    border: hidden;
    background-color:transparent ;
    color:#3579bb;
}

.btnregister{
    margin:0;
    margin-top:20px;
    padding:0;
    height:60px;
}

.btnregister > button {
    margin:0;
    margin-top:5px;
    padding: 0;
    height:50px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #3579bb;
    background-color: #3579bb;
    color:#3579bb;

}
.btnregister a:link , .btnregister a:visited {

    color:white;
    text-decoration: none;
    font-size:1.5em;
}